<a href="https://colab.research.google.com/github/RyuJaeJeong/StudyInHkit/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello, python")

hello, python

# 1. hello, python
1. 데이터 타입과 연산
  - 숫자와 산술 연산
  - 문자열과 문자열 연산
  - 리스트와 리스트 연산
2. 변수와 함수

## 1.1 숫자와 산술연산
1. 정수: int
2. 실수: float
3. 복소수: complex

In [ ]:
print("1 + 1 = ", 1+1)
print("1 - 1 = ", 1-1)
print("3 * 4 = ", 3*4)
print("4 / 2 = ", 4/2)
print("3 ** 2 = ", 3**2)  #제곱
print("9 // 3 = ", 9//3)  #몫
print("9 % 4 = ", 9%4)    #나머지

1 + 1 =  2
1 - 1 =  0
3 * 4 =  12
4 / 2 =  2.0
3 ** 2 =  9
9 // 3 =  3
9 % 4 =  1

In [ ]:
print(type(1))  #정수형
print(type(1.0))#실수형
print(type(1 + 2j))#복소수

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
import math
print("math.sqrt(4)", math.sqrt(4))
print("math.log2(8)", math.log2(8))

math.sqrt(4) 2.0
math.log2(8) 3.0

In [ ]:
# 2의 100제곱을 7로 나눈 나머지는 몇일까요? 
print((2**100)%7)

# BMI 지수, 몸무게(kg)를 키(m)의 제곱으로 나눈 값.
# 1. 나의 채질량지수를 구해보자
# 2. 내 키의 정상체중 범위를 구해보자. (BMI 18.5 ~ 23)

print(106/(1.86**2))
print(str((1.86**2)*18.5) + "kg ~ " + str((1.86**2)*23) + "kg")

2
30.63938027517632
64.00260000000002kg ~ 79.5708kg

## 1.2 문자열과 문자열 연산

In [ ]:
print(" 'hello,\" python' ")
print(' "hello,\' python" ')
print(''' 'hello, python' ''')
print(""" "hello, python" """)

 'hello," python'
 "hello,' python"
 'hello, python'
 "hello, python"

In [ ]:
print(" '3' + '3' = ", '3' + '3' )
print(" '3' * '10' = ", '3' * 10 )

 '3' + '3' =  33
 '3' * '10' =  3333333333

In [ ]:
text = 'hello, world'
print(text,type(text))
print("len(text)", len(text))
print("text.replace('hello', 'hi') ", text.replace('hello', 'hi'))
print("text.upper()", text.upper())

hello, world <class 'str'>
len(text) 12
text.replace('hello', 'hi')  hi, world
text.upper() HELLO, WORLD

- 여러가지 유용한 함수 
  - help()
  - int(), float(), str()

In [ ]:
help(print)
print(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5, sep='')
print(1, 2, 3, 4, 5, sep=',')
print('-' * 10)
print('a')
print('b')
print('c')
print('a', end='')
print('b', end='')
print('c')

### 1.2.2 실습문제

In [ ]:
poem = """도모꼬는 아홉 살
나는 여덟 살 

이학년인 도모꼬가
일학년인 나한테
숙제를 해달라고 자주 찾아왔다. 

어느 날, 윗집 할머니가 웃으시면서
도모꼬는 나중에 정생이한테
시집가면 되겠네
했다.

앞집 옆집 이웃 아주머니들이
모두 쳐다보는 데서
도모꼬가 말했다.
정생이는 얼굴이 못생겨 싫어요!

오십 년이 지난 지금도
도모꼬 생각만 나면
이가 갈린다."""

print("'도모꼬' , ",poem.count('도모꼬'))
print("'정생' , ",poem.count('정생'))

poem = poem.replace('도모꼬', '코바야시').replace('정생', '토르')


print(poem)

'도모꼬' ,  5
'정생' ,  2
코바야시는 아홉 살
나는 여덟 살

이학년인 코바야시가
일학년인 나한테
숙제를 해달라고 자주 찾아왔다.

어느 날, 윗집 할머니가 웃으시면서
코바야시는 나중에 토르이한테
시집가면 되겠네
했다.

앞집 옆집 이웃 아주머니들이
모두 쳐다보는 데서
코바야시가 말했다.
토르이는 얼굴이 못생겨 싫어요!

오십 년이 지난 지금도
코바야시 생각만 나면
이가 갈린다.

## 1.3 리스트와 리스트 연산
- 순서를 이용하여 값(데이터)을 정리하는 도구
- 대괄호[]를 이용, ','로 구분합니다.  
- 여러 종류의 값(데이터)이 혼합되어 올 수 있다.

In [ ]:
students = ["egoing", "sookbun", "duru"]
grades = [2, 1, 3]

print("students", students)
print("students[1]", students[1])
print("len(students)", len(students))
print("min(students)", min(students))
print("grades", grades)
print("min(grades)", min(grades))
print("max(grades)", max(grades))

# 리스트 연산: +, *
print("[1, 2, 3] + [4, 5, 6] =", [1, 2, 3] + [4, 5, 6])
print("[1, 2, 3] * 3 =", [1, 2, 3] * 3)

students ['egoing', 'sookbun', 'duru']
students[1] sookbun
len(students) 3
min(students) duru
grades [2, 1, 3]
min(grades) 1
max(grades) 3
[1, 2, 3] + [4, 5, 6] = [1, 2, 3, 4, 5, 6]
[1, 2, 3] * 3 = [1, 2, 3, 1, 2, 3, 1, 2, 3]

### 1.3.1 함수 vs 메쏘드

In [ ]:
s = "hello, python"
li = [1, 2, 3, 4, 5, 1, 2, 3, 1]

print("함수")
print("len(s)", len(s))
print("len(li)", len(li))

print("-" * 10)

print("메쏘드")
print("s.count('o')", s.count('o'))
print("li.count(1)", li.count(1))

함수
len(s) 13
len(li) 9
----------
메쏘드
s.count('o') 2
li.count(1) 3

1.3.2 실습문제

In [ ]:
# f(x) = 2x + 1
# f(3) => 7
# f(4) => 9
def f(x):
    return 2 * x + 1

print("f(3) =", f(3))
print("f(4) =", f(4))

def add(a, b):
    return a + b
print("add(3, 5) =", add(3, 5))

def message(name):
    return '안녕!! ' + name + ' ..., 환영합니다. ' + name + '!!'
print("message('숙번') =", message('숙번'))
print("message('이고잉') =", message('이고잉'))

f(3) = 7
f(4) = 9
add(3, 5) = 8
message('숙번') = 안녕!! 숙번 ..., 환영합니다. 숙번!!
message('이고잉') = 안녕!! 이고잉 ..., 환영합니다. 이고잉!!

In [ ]:
def message(name):
    return '안녕!! ' + name + ' ..., 환영합니다. ' + name + '!!'

name = input('이름을 입력하세요. ')
print(message(name))

이름을 입력하세요. 이숙번
안녕!! 이숙번 ..., 환영합니다. 이숙번!!

## 1.4 변수와 함수

### 1.4.1 변수
- 값(데이터)을 담는 그릇
- 값에 이름을 붙인다.

In [ ]:
# 부가가치세를 계산했습니다. 
print(10000 * 0.1)

1000.0

In [ ]:
price = 10000
vat = 0.1
vat_price = price * vat
print(vat_price)

1000.0

In [ ]:
name = '숙번'
message = '안녕!! ' + name + ' ..., 환영합니다. ' + name + '!!'
print(message)

안녕!! 숙번 ..., 환영합니다. 숙번!!

### 1.4.2 함수
- 논리에 이름을 붙이면 함수
- 정리와 재사용. > 사람을 위해 필요한 개념.
- 들여쓰기가 적용이 된다는 것을 기억. 

```
def 함수명(변수들):
    ....(논리)...
    return 결과
```

In [ ]:
# f(x) = 2x + 1
# f(3) => 7
# f(4) => 9
def f(x):
    return 2 * x + 1

print("f(3) =", f(3))
print("f(4) =", f(4))

def add(a, b):
    return a + b
print("add(3, 5) =", add(3, 5))

def message(name):
    return '안녕!! ' + name + ' ..., 환영합니다. ' + name + '!!'
print("message('숙번') =", message('숙번'))
print("message('이고잉') =", message('이고잉'))

f(3) = 7
f(4) = 9
add(3, 5) = 8
message('숙번') = 안녕!! 숙번 ..., 환영합니다. 숙번!!
message('이고잉') = 안녕!! 이고잉 ..., 환영합니다. 이고잉!!

1. input 함수
2. random 모듈

In [ ]:
# input
def message(name):
    return '안녕!! ' + name + ' ..., 환영합니다. ' + name + '!!'

name = input('이름을 입력하세요. ')
print(message(name))

이름을 입력하세요. 이고잉
안녕!! 이고잉 ..., 환영합니다. 이고잉!!

In [ ]:
# random
import random

print("random.random() =", random.random())
print("random.randint(1, 3) =", random.randint(1, 3))

students = ['이고잉', '숙번', '두루']
print("random.choice(students) =", random.choice(students))

random.random() = 0.8078094149358845
random.randint(1, 3) = 1
random.choice(students) = 두루

In [ ]:
import random
temp = input('가위, 바위, 보 >>')
comp = ['가위', '바위', '보']
print(comp[random.randint(0,2)])

가위, 바위, 보 >>보
가위

In [ ]:
import random
wallet = [1000, 5000, 10000, 50000]
money = wallet[random.randint(0,2)]
wallet.remove(money)
print(wallet)

[5000, 10000, 50000]

In [ ]:
# 로또 번호를 만들어 보자. 1~46 사이의 6개의 랜덤한 숫자를 뽑는다.
# 1. 같은 숫자가 중복될 수 없다. 
# 2. 반복문이나 조건문을 사용할 수 없다.
lottery = list(range(1, 47))
print(lottery)



lotto = [random.choice(lottery),random.choice(lottery),random.choice(lottery),random.choice(lottery),random.choice(lottery),random.choice(lottery)]
print(lotto)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46]
[24, 9, 2, 25, 42, 38]